@font-face {
  font-family: Actor;
  src: url(../fonts/Actor/Actor-Regular.ttf);
}
@font-face {
  font-family: "Playfair Display";
  src: url(../fonts/Playfair_Display/PlayfairDisplay-SemiBoldItalic.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --deep-brown: #1f1b29;
  --light-brown: #77595b;
  --bg-color: #e6e6eb;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  color: var(--deep-brown);
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Actor;
}

h1,
h2,
h3,
h4,
ul {
  font-family: "Playfair Display";
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}

/* HEADER START */

#hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #ffffff
    url(../images/coffee-mug-coffee-beans-white-background.jpg) no-repeat;
  background-size: cover;
}

#top {
  position: absolute;
  left: 2%;
  display: flex;
  width: 96%;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 700px) {
  #top {
    gap: 3vw;
  }
}

@media screen and (max-width: 550px) {
  #top {
    justify-content: center;
    gap: 0;
  }
}

h1 {
  width: fit-content;
  height: fit-content;
  font-size: max(6vw, 3rem);
  opacity: 0.9;
  white-space: nowrap;
}

h1:hover,
h1:active,
h1:focus {
  opacity: 1;
  color: var(--light-brown);
}

h1::first-letter {
  font-size: max(8vw, 4.3rem);
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 2vw;
}

.home-nav a,
#hero__cta a {
  color: var(--deep-brown);
  opacity: 0.9;
  font-size: max(2.3vw, 1.5rem);
  font-weight: 900;
}

#more {
  color: var(--deep-brown)  !important;
  padding-top: 3vh;
  float: right;
  width: fit-content;
  font-weight: 600;
  font-size: max(2vw, 1rem);
}

a {
  color: var(--deep-brown);
  display: block;
  font-weight: 900;
}

.home-nav a:hover {
  opacity: 1;
  text-decoration: none;
  color: var(--light-brown);
  border: 2px solid var(--deep-brown);
  border-radius: 5px;
}

a:visited {
  color: #77595b;
}

#header__p {
  position: absolute;
  right: 3vw;
  top: 25vh;
  text-align: right;
  font-weight: 500;
  z-index: +10;
}

#tagline {
  font-size: max(3vw, 1.5rem);
  margin-bottom: 1vw;
}

#cta {
  font-size: max(2.5vw, 1.2rem);
}

@keyframes cta {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

#hero__cta a {
  position: absolute;
  font-size: (4vw, 2rem);
  bottom: 3vh;
  right: 5vw;
  text-decoration-line: none;
  animation: cta 1.5s ease-in-out infinite forwards;
}

#hero__cta a:hover,
#hero__cta a:active {
  color: var(--light-brown);
  opacity: 1;
}

/* About */
#About-us {
  margin-inline: auto;
  height: fit-content;
  width: 90%;
  gap: 4%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

#About-us img {
  height: auto;
  width: max(48%, 300px);
  margin-block: 5vw;
}

#About-us div {
  max-height: 80vh;
  width: max(48%, 300px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-block: 3vw;
}

#about__h3 {
  width: 100%;
  font-size: max(1.5rem, 2vw);
  text-align: left;
  margin-bottom: 2vw;
}

#about__span {
  display: block;
}

.about__p {
  font-size: max(1.2vw, 0.8rem);
  font-weight: 400;
  text-align: justify;
}

#about__more {
  display: flex;
  flex-flow: row nowrap;
  align-self: flex-start;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
  margin-top: 1vw;
  padding: 0.3vw 0.6vw;
  font-size: max(0.8vw, 0.8rem);
  border: 1px solid var(--deep-brown);
  border-radius: 30px;
  color: var(--deep-brown);
  background-color: #77595b00;
}
#about__more a {
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  #About-us img,
  #About-us div {
    width: 100%;
  }

  #about__h3 {
    font-size: max(1.5rem, 3vw);
  }

  .about__p {
    font-size: max(2vw, 1rem);
  }

  #about__more {
    font-size: max(3vw, 1.5rem);
  }
}

.arrow {
  font-size: 1rem;
  color: var(--deep-brown);
}

#about__more:hover {
  animation: hover-button 0.5s ease-out forwards;
}

@keyframes hover-button {
  100% {
    background-color: var(--light-brown);
    color: var(--bg-color);
    border-color: var(--light-brown);
  }
}

/* Menu */
#menu {
  background-color: var(--deep-brown);
  color: var(--bg-color);
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr;
  grid-template-rows: auto;
  height: 60vh;
  padding: 2vw 3vw 2vw 1vw;
  margin: 0 auto 5vh;
}

#menu__first--div {
  height: 100%;
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 4vw;
  justify-content: space-between;
}

#menu__h3 {
  font-size: max(2.5vw, 1.4rem);
  white-space: nowrap;
  margin-bottom: 1vw;
  text-transform: uppercase;
}

#menu__more {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.3vw 0.6vw;
  font-size: max(0.8vw, 0.8rem);
  border: 1px solid var(--bg-color);
  border-radius: 30px;
  color: var(--bg-color);
  background-color: #77595b00;
}
#menu__more a {
  color: var(--light-brown);
  text-decoration: none;
}

#menu__more span {
  color: var(--bg-color);
}

#menu__p {
  text-align: left;
  text-indent: 0;
  font-size: max(1.2vw, 0.8rem);
  justify-self: flex-end;
}

#menu__second--div {
  height: 100%;
  display: grid;
  margin-inline: 2vw;
  grid-template-columns: 1fr;
  grid-row: repeat(6, 1fr);
}

.head,
.item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.head,
.item__price {
  font-size: max(0.8vw, 0.8rem);
  font-family: "Playfair Display";
  text-transform: uppercase;
}

.item {
  position: relative;
  border-bottom: 1px solid var(--bg-color);
}

.item__name {
  font-size: max(2vw, 1.3rem);
  opacity: 1;
  text-transform: capitalize;
  white-space: nowrap;
}

.item__detail:hover,
#menu__more:hover {
  opacity: 0.7;
}

#item-image-1,
#item-image-2,
#item-image-3,
#item-image-4,
#item-image-5,
#item-image-6,
#item-image-7,
#item-image-8,
#item-image-9,
#item-image-10 {
  display: none;
  position: absolute;
  top: -30px;
  right: 30px;
  width: 150px;
  height: 150px;
  margin: 1vw;
  background: var(--light-brown);
}

.item-button {
  position: relative;
  top: 98px;
  left: 98px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}

#item-1:hover {
  #item-image-1 {
    display: block;
    opacity: 1;
    background-image: url(../images/drinks-images/Espresso.png);
    background-size: contain;
  }

  #item-button-1 {
    opacity: 1;
    display: block;
  }
}

#item-2:hover {
  #item-image-2 {
    display: block;
    opacity: 1;
    background-image: url(../images/drinks-images/Americano.png);
    background-size: contain;
  }

  #item-button-2 {
    opacity: 1;
    display: block;
  }
}

#item-3:hover {
  #item-image-3 {
    display: block;
    opacity: 1;
    background-image: url(../images/drinks-images/Iced-Coffee.png);
    background-size: contain;
  }

  #item-button-3 {
    opacity: 1;
    display: block;
  }
}

#item-4:hover {
  #item-image-4 {
    display: block;
    opacity: 1;
    background-image: url(../images/drinks-images/Cappuccino.png);
    background-size: contain;
  }

  #item-button-4 {
    opacity: 1;
    display: block;
  }
}

#item-5:hover {
  #item-image-5 {
    display: block;
    opacity: 1;
    background-image: url(../images/drinks-images/Flat-White.png);
    background-size: contain;
  }

  #item-button-5 {
    opacity: 1;
    display: block;
  }
}

#item-6:hover {
  #item-image-6 {
    display: block;
    opacity: 1;
    background-image: url(../images/pastries-images/Croissant.png);
    background-size: contain;
  }

  #item-button-6 {
    opacity: 1;
    display: block;
  }
}

#item-7:hover {
  #item-image-7 {
    display: block;
    opacity: 1;
    background-image: url(../images/pastries-images/Danish-pastry.png);
    background-size: contain;
  }

  #item-button-7 {
    opacity: 1;
    display: block;
  }
}

#item-8:hover {
  #item-image-8 {
    display: block;
    opacity: 1;
    background-image: url(../images/pastries-images/Almond-Croissant.png);
    background-size: contain;
  }

  #item-button-8 {
    opacity: 1;
    display: block;
  }
}

#item-9:hover {
  #item-image-9 {
    display: block;
    opacity: 1;
    background-image: url(../images/pastries-images/Apple-Turnover.png);
    background-size: contain;
  }

  #item-button-9 {
    opacity: 1;
    display: block;
  }
}

#item-10:hover {
  #item-image-10 {
    display: block;
    opacity: 1;
    background-image: url(../images/pastries-images/Scone.png);
    background-size: contain;
  }

  #item-button-10 {
    opacity: 1;
    display: block;
  }
}

/* Reviews */
#review {
  position: relative;
  min-height: 64vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

.reviews {
  display: flex;
  margin: 4vh 1vw;
  flex-flow: column nowrap;
  text-align: left;
  align-items: center;
  position: relative;
  width: max(22vw, 300px);
  height: 50vh;
  font-size: max(1.1rem, 1.1vw);
  font-weight: 700;
  color: var(--light-brown);
  padding: 14px;
  border-radius: 5px;
  box-shadow: 7px 5px 20px var(--deep-brown);
}

.reviews:hover {
  transform: translateY(-1vh);
}

q {
  text-align: justify;
}

.reviews img {
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-bottom: 2vh;
}

.names {
  position: absolute;
  bottom: 7%;
  right: 5%;
}

/* Foooter */
#contact {
  min-height: 65vh;
  width: 100vw;
  margin-top: 5vh;
  background-color: var(--deep-brown);
  color: var(--light-brown);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
}
#contact hr {
  background-color: var(--light-brown);
  color: #77595b;
  margin-block: 2%;
}

#footer__main {
  min-height: 100%;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

#footer__first-section {
  height: 60vh;
  width: 30vw;
  padding: 3vh 1%;
  display: flex;
  gap: 2vh;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
}
#footer__h2 {
  font-size: max(3vw, 1.5rem);
  white-space: nowrap;
}
#footer__contact {
  min-height: 50%;
  display: flex;
  gap: 10%;
  flex-flow: column nowrap;
  align-items: left;
  justify-content: space-between;
  font-size: max(1.5vw, 1rem);
}

#footer__second-section {
  height: 100%;
  max-width: 30vw;
  display: flex;
  gap: max(2vw, 15px);
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}
#footer__second-section h3 {
  margin-top: 3vw;
  width: 100%;
  text-align: left;
  font-size: max(2vw, 1rem);
}
.footer__p {
  width: 100%;
  text-align: center;
}
form {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  gap: min(1vw, 12px);
  align-items: flex-start;
  justify-content: space-evenly;
}
label {
  font-size: max(1.2vw, 0.6rem);
}
input,
textarea {
  width: 70%;
  color: var(--bg-color);
  background: linear-gradient(-45deg, var(--light-brown), var(--deep-brown));
  padding: 5px;
  border: 2px solid var(--light-brown);
  border-radius: 5px;
}
#form__name,
#form__email,
#form__subject,
#form__content {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.footer__button {
  color: #77595b;
  background: linear-gradient(-45deg, var(--light-brown), var(--deep-brown));
  padding: max(0.5vw, 10px);
  border-radius: 10px;
  border: none;
  width: 20%;
}
#buttons {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

#footer__third-section {
  height: 100%;
  width: 25vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.footer__nav {
  display: flex;
  flex-flow: column nowrap;
  align-items: left;
  justify-content: center;
  margin-left: 1vw;
}
.footer__nav a {
  color: var(--light-brown);
  text-decoration: none;
  padding: 10px;
}
.footer__nav a:hover {
  border: 1px solid var(--light-brown);
  border-radius: 10px;
}
