* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
h1::first-letter {
  font-size: 60px;
}

ul {
  border-radius: 20px;
  background-color: brown;
  display: flex;
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0;
  justify-content: center;
}
a {
  display: block;
  padding: 15px;
  margin: 0;
  font-weight: bolder;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

h1,
h2,
p {
  text-align: center;
}

.menu {
  width: 80%;
  background-color: burlywood;
  padding: 20px;
  max-width: 600px;
}
.plus {
  max-width: 80%;
}
.news {
  text-align: left;
  display: flex;
  justify-content: center;
}
label,
input {
  text-align: left;
}

img {
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 5px;
}

hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
  border-style: initial;
  border-radius: 200%;
}

.bottom-line {
  margin-top: 25px;
}
#foot {
  margin: 5px 0px -10px 0;
}
h1,
h2 {
  font-family: "Noto Serif", serif;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.flavor,
.dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}
fieldset {
  border-radius: 10px;
  border: 1px solid brown;
}
input {
  margin: 5px;
  border-radius: 5px;
}
/* FOOTER */

footer {
  font-size: 14px;
}

#location {
  margin-bottom: 5px;
  text-align: center;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: chocolate;
}

a:active {
  color: brown;
}
figcaption {
  margin-left: -40px;
}
select {
  margin-top: -15px;
  margin-left: 120px;
}
figure {
  display: grid;
}
