h1 {
  font-size: 80px;
  text-align: center;
  
}

.treat::first-letter{
  font-size: 120px;
}
h2 {
  font-size: 40px;
  font-weight: 400px;
  font-style: italic;
  margin-bottom: 20px;
  padding: 5px;
  background-color: chocolate;
  text-align: center;
  border: 5px solid black;
  border-radius: 10px;
}
h2::first-letter{
  font-size: larger;
}
img{
  margin: 0px;
  padding: 0px;
  border: 5px solid chocolate;
}
fieldset {
  display: block;
  border: 5px solid chocolate;
  padding: 15px;
  width:  500px;
}
button {
  display: block;
  margin: 5px;
  padding: 2px;
  border: 5px solid chocolate;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  color: white;

}
footer a{
  text-decoration-line: none;
  color:white;
  background-color: rgba(210, 105, 30);
  padding: 5px;
  font-weight: bold;
  
}
ul{
  list-style-type: none;
  background-color: chocolate;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: left;
}
li  a {
  color: white;
  display: block;
  padding: 16px;
}
textarea {
  background-color: chocolate;
  border: 5px solid black;
  font-weight: bold;
}