body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    /* background-image: url(https://static.vecteezy.com/system/resources/previews/003/607/477/non_2x/coffee-background-with-realistic-cup-of-coffee-vector.jpg); */
    padding: 20px;
  }

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 10px;
}
h1::first-letter{
  font-size: 60px;
}

ul {
  border-radius: 20px;
  background-color: brown;
  display: flex;
  list-style-type: none;
  margin: 0 0 10px 0 ;
  padding: 0;
  justify-content: center;
}
a{
  display: block;
  padding: 15px;
  margin: 0;
  font-weight: bolder;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

h1, h2, p {
  text-align: center;
}

.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

.bottom-line {
  margin-top: 25px;
}

h1, h2 {
  font-family: 'Noto Serif', serif;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

/* FOOTER */

footer {
  font-size: 14px;
}

.address {
  margin-bottom: 5px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: chocolate;
}

a:active {
  color: brown;
}